<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @*@Styles.Render("~/Content/css")*@
    @Scripts.Render("~/bundles/modernizr")
    <style>

        .textalign {
            text-align: center;
        }

        .control-label {
            color: white !important;
        }

        .cornflowerblue_background {
            background-color: #4788FA !important;
        }

        a {
            color: white !important;
        }
    </style>
</head>
<body>
    <div class="navbar  navbar-fixed-top" style="background-color: #4788FA">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Test Application", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse" style="float:right !important">
                <ul class="nav navbar-nav">
                    @if (ViewBag.IsLoginOrRegister == true)
                    {
                        <li>@Html.ActionLink("Login", "Login", "Account")</li>
                        <li>@Html.ActionLink("Registration", "Registration", "Account")</li>
}
                    else
                    {
                        <li>@Html.ActionLink("ORM", "ORM", "Value")</li>
                        <li>@Html.ActionLink("SlowDB", "SlowDB", "Value")</li>
                        <li>@Html.ActionLink("SlowRequest", "SlowRequest", "Value")</li>
                        <li>@Html.ActionLink("SwallowedException", "SwallowedException", "Value")</li>
                        <li>@Html.ActionLink("Untracked", "Untracked", "Value")</li>
                        <li>@Html.ActionLink("Logout", "LogOut", "Account")</li>
                    }

                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()

        <footer>
            <p style="color:white">&copy; @DateTime.Now.Year - TestApp</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
